.banner {
  height: 505px;
  min-height: 505px;

  background-image: url('{{site.baseurl}}/images/hero.jpg');
  background-size: cover;
  background-position: 12% bottom;
}

@media only screen and (min-width: 46em) {

  .banner {
    height: 90vh;
  }

}