.embed-gallery-adapt-portrait,
.embed-gallery-adapt-landscape {
  height: 400px;
  background-size: cover;
}

.photo-portrait-1 {
  background-image: url("{{site.baseurl}}/images/portrait-1.jpg");
  background-position: center center;
}

.photo-landscape-1 {
  background-image: url("{{site.baseurl}}/images/landscape-1.jpg");
  background-position: center center;
}

.photo-portrait-2 {
  background-image: url("{{site.baseurl}}/images/portrait-2.jpg");
  background-position: center center;
}

.photo-landscape-2 {
  background-image: url("{{site.baseurl}}/images/landscape-2.jpg");
  background-position: center center;
}

@media only screen and (min-width: 46em) {

  .embed-gallery-adapt-portrait {
    padding-top: 133.3333%;
    height: auto;
  }

  .embed-gallery-adapt-landscape {
    padding-top: 75%;
    height: auto;
  }

  .unit-gallery-left {
    padding-right: .7rem;
  }

  .unit-gallery-right {
    padding-left: .7rem;
  }

}

@media only screen and (min-width: 67em) {

  .unit-gallery-left {
    padding-right: .75rem;
  }

  .unit-gallery-right {
    padding-left: .75rem;
  }

}
