.waypoint {
  opacity: 0;
  transform: translateY(50px);

  transition: transform, opacity, -webkit-transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.38, 0.32, 0.36, 0.98);
}

.waypoint-2 {
  transition-delay: .15s;
}

.waypoint-3 {
  transition-delay: .3s;
}

.waypoint-4 {
  transition-delay: .45s;
}

.waypoint-5 {
  transition-delay: .6s;
}

.waypoint-6 {
  transition-delay: .75s;
}

.js-waypoint-active {
  opacity: 1;
  transform: translateY(0);
}
