<section id="about">
  <div class="wrapper gutter pad-t-4 pad-b-4 text-center ">
    <h2 class="waypoint">We don't just catch fish.<br>We catch trophies.</h2>
    <p class="waypoint waypoint-2 max-length push-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

    <div class="embed embed-16by9 waypoint waypoint-3">
      <img class="embed-item" src="{{site.baseurl}}/images/about.jpg" alt="Photo of a large muskie caught by us.">
    </div>
  <!--   <div class="grid color-brand">
      <div class="unit s-1 m-1-3 push-2 m-push-0">
        <div class="gutter-1-2 bold">
          <div class="stat-container">
            <span class='numscroller zetta' data-min='1' data-max='500' data-delay='2' data-increment='2'>0</span>
            <span class="zetta">+</span>
          </div>
          <p class="mega">fish caught in 2017</p>
        </div>
      </div>
      <div class="unit s-1 m-1-3 push-2 m-push-0">
        <div class="gutter-1-2 bold">
          <span class='numscroller zetta' data-min='1' data-max='23' data-delay='1' data-increment='1'>0</span>
          <p class="mega">muskies caught in 2017</p>
        </div>
      </div>
      <div class="unit s-1 m-1-3">
        <div class="gutter-1-2 bold">
          <div class="stat-container">
            <span class='numscroller zetta' data-min='1' data-max='8' data-delay='1' data-increment='1'>0</span>
            <span class="zetta">lb</span>
          </div>
          <p class="mega">bass caught in 2016</p>
        </div>
      </div>
    </div> -->
  </div>
</section>
