<section class="banner text-center">
  <div class="wrapper gutter pad-t-2">
    <h2 class="waypoint push-1-2">So you want to catch fish?</h2>
    <div class="max-length kilo push-2">
      <p class="mega waypoint waypoint-2 mega push-0"><strong>Norway Bay</strong> Fishing welcomes you to an fish-filled <strong>fishing trip</strong> on the <strong>Ottawa&nbsp;River</strong>.</p>
    </div>
    <div class="waypoint waypoint-3">
      <a class="btn" href="#trips">See Trips</a>
    </div>
  </div>
</section>
