<section id="contact">
  <div class="wrapper pad-t-4 pad-b-4 text-center">
    <h2 class="waypoint">Drop us a line.</h2>
    <p class="waypoint waypoint-2 max-length push-4">If you are looking to book a trip with us or if you just want to get in touch with us, you can send us a message down below in the message box, you can also give us a call or send us a direct message on any of our social medias.</p>

    <form class="waypoint waypoing-3" method="POST" action="https://formspree.io/norwaybayfishing@gmail.com">
      <fieldset class="max-length text-left">
        <!-- <legend class="gutter-1-2 giga push">Personal details</legend> -->


        <div class="push">
          <label for="name" class="push-1-8 text-upper milli color-neutral bold">Name</label>
          <input id="name" class="w-1" name="name" placeholder="Bob Izumi">
        </div>

        <div class="push">
          <label for="email" class="push-1-8 text-upper milli color-neutral bold">Email</label>
          <input id="email" class="w-1" name="email" placeholder="bobizumi@gmail.com">
        </div>

        <div class="push-1-2">
          <label for="message" class="push-1-8 text-upper milli color-neutral bold">Message</label>
          <textarea id="message" class="w-1" name="message" placeholder="Type a message"></textarea>
        </div>
      </fieldset>
      <button class="btn" type="submit">Send</button>
    </form>

  </div>
</section>
