<section id="contact">
  <div class="wrapper pad-t-4 pad-b-4 text-center">
    <h2 class="waypoint">Book a trip.<br>Or drop us a line.</h2>
    <p class="waypoint waypoint-2 max-length push-4">If you are looking to book a trip with us or if you just want to get in touch with us, you can send us a message down below in the message box, you can also give us a call or send us a direct message on any of our social medias.</p>

    <form class="waypoint waypoint-3 push-2 max-length " method="POST" action="https://formspree.io/norwaybayfishing@gmail.com">
      <fieldset class="text-left">
        <!-- <legend class="gutter-1-2 giga push">Personal details</legend> -->


        <div class="push">
          <label for="name" class="push-1-8 text-upper milli color-neutral bold">Name</label>
          <input type="text" name="name" placeholder="Bob Izumi" id="name" class="w-1">
        </div>

        <div class="push">
          <label for="email" class="push-1-8 text-upper milli color-neutral bold">Email</label>
          <input type="email" name="_replyto" placeholder="bob@izumi.com" id="email" class="w-1">
        </div>

       <!--  <div class="push">
          <label for="subject" class="push-1-8 text-upper milli color-neutral bold">Subject</label>
          <select name="_subject" id="subject">
            <option>General</option>
            <option></option>
            <option>Quebec</option>
          </select>
        </div> -->

        <div class="push-1-2">
          <label for="message" class="push-1-8 text-upper milli color-neutral bold">Message</label>
          <textarea name="message" placeholder="Type a message" id="message" class="w-1"></textarea>
        </div>
      </fieldset>
      <input type="hidden" name="_next" value="//mywebsite.com/thanks.html" />
      <button class="btn" type="submit">Send message</button>
    </form>

    <div class="max-length waypoint waypoint-4 pad-t-2 border-t text-left">

      <dl class="list-group-inline">
        <dt class="push-r-1-4 bold push-1-4">Email: </dt>
        <dd><a class="btn btn-link" href="mailto:norwaybayfishing@gmail.com">norwaybayfishing@gmail.com</a></dd>
        <dt class="push-r-1-4 bold push-1-4">Noa's Phone: </dt>
        <dd><a class="btn btn-link" href="tel:+16132622292">(613) 262-2292</a></dd>
        <dt class="push-r-1-4 bold push-1-4">Sam's Phone: </dt>
        <dd class="push-0"><a class="btn btn-link" href="tel:+16134063808">(613) 406-3808</a></dd>
      </dl>

      <ul class="list-group-inline push-0">
        <li class="push-r">
          <a class="icon-link contact-social" href="https://www.youtube.com/channel/UCi7Il_ZGv_Yn8dxFXG0w00g" aria-label="Youtube">
            <i class="icon i-24"><svg><use xlink:href="{{site.baseurl}}/images/icons.svg#youtube" /></svg></i>
          </a>
        </li>
        <li class="push-r">
          <a class="icon-link contact-social" href="https://twitter.com/NorwayBayFishin" aria-label="Twitter">
            <i class="icon i-24"><svg><use xlink:href="{{site.baseurl}}/images/icons.svg#twitter" /></svg></i>
          </a>
        </li>
        <li>
          <a class="icon-link contact-social" href="https://www.instagram.com/norwaybayfishing/" aria-label="Instagram">
            <i class="icon i-24"><svg><use xlink:href="{{site.baseurl}}/images/icons.svg#instagram" /></svg></i>
          </a>
        </li>
      </ul>

    </div>

  </div>
</section>
