<section id="gallery">
  <div class="wrapper gutter pad-t-4 text-center">
    <h2 class="waypoint">We got proof.</h2>
    <p class="waypoint waypoint-2 max-length push-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </div>

    <div class="grid gutter-1-2 wrapper">
      <div class="unit s-1 m-1-2 gutter-1-2">
        <div class="embed embed-2by3">
          <img class="embed-item" src="http://via.placeholder.com/300x200" alt="" />
        </div>
      </div>

      <div class="unit s-1 m-1-2 gutter-1-2">
        <div class="embed embed-3by2">
          <img class="embed-item" src="http://via.placeholder.com/300x200" alt="" />
        </div>
      </div>
    </div>
  </div>

</section>
