<section id="gallery">
  <div class="wrapper pad-t-4 pad-b-4 text-center">
    <div class="gutter">
      <h2 class="waypoint">All the proof you&nbsp;need.</h2>
      <p class="waypoint waypoint-2 max-length push-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>

    <div class="grid gutter-1-2 wrapper">
      <div class="unit s-1 m-1-2 gutter-1-2 push m-push-0">
        <div class="embed embed-gallery-adapt-portrait photo-portrait-1 push waypoint waypoint-3"></div>
        <div class="embed embed-gallery-adapt-landscape photo-landscape-1 waypoint waypoint-4"></div>
      </div>

      <div class="unit s-1 m-1-2 gutter-1-2">
        <div class="embed embed-gallery-adapt-landscape photo-landscape-2 push waypoint waypoint-5"></div>
        <div class="embed embed-gallery-adapt-portrait photo-portrait-2 waypoint waypoint-6"></div>
      </div>
    </div>
  </div>

</section>
