<header class="header zindex-1000 bg-wave" role="banner">
  <div class="wrapper nav-wrapper island-1-2">
    <div class="grid grid-middle zindex-1000 relative">
      <div class="unit s-4-5">
        <a class="icon-link white island-1-2" href="/">
          <i class="icon i-24 push-r-1-4">
            <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#logo" /></svg>
          </i>
          <span class="icon-label text-upper bold">Norway Bay Fishing</span>
        </a>
      </div>
      <div class="unit s-1-5 text-right">
        <button class="hamburger-btn pin-rc island-1-2 center-content" type="button" id="toggle-menu">
          <div class="hamburger hamburger-slider icon i-20">
            <span class="hamburger-inner"></span>
          </div>
        </button>
      </div>
    </div>

    <div class="menu-container pin-tl pin-br zindex-1 bg-wave">
      <div class="wrapper gutter">
        <nav class="nav pad-t-4" id="navigation">
          <ul class="list-group text-right peta bold push-0">
            {% include nav-li.html title="About" href="#about" %}
            {% include nav-li.html title="Location" href="#location" %}
            {% include nav-li.html title="Gallery" href="#gallery" %}
            {% include nav-li.html title="Trips" href="#trips" %}
            {% include nav-li.html title="Contact" href="#contact" %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
