<section class="bg-wave color-white" id="location">
  <div class="wrapper pad-t-4 pad-b-4 text-center">
    <h2 class="waypoint">Located in big&nbsp;fish&nbsp;territory.</h2>
    <p class="waypoint waypoint-2 max-length push-4">Norway Bay Fishing is located on the <strong>Ottawa River</strong> in Norway Bay, Quebec. We are less than a hour drive away from downtown Ottawa between the 2 towns of Quyon and Shawville in the Pontiac Quebec region. Hop in the car and you will be out fishing before you know it.</p>

    <div class="section-media waypoint waypoint-3">
      <iframe class="embed-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11182.517256654999!2d-76.4378287565935!3d45.51754020086481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDXCsDMxJzAzLjEiTiA3NsKwMjUnNDQuNyJX!5e0!3m2!1sen!2sca!4v1523723276711" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

  </div>
</section>

