<div class="bg-white unit-package unit unit-content-distribute s-1 l-1-3 push l-push-0 waypoint waypoint-{{include.waypoint-pos}}">
  <div class="package-header gutter pad-t-2 pad-b-2">
    <i class="icon i-64 center-block push">
      <img src="http://placehold.it/64x64" alt="">
    </i>
    <h3 class="mega">{{include.h3}}</h3>
    <div class="color-brand bold peta push pad-b-2 border-b">{{include.price}}</div>
    <p class="push-0 text-left milli content-fill max-length color-neutral">{{include.desc}}</p>
  </div>
</div>
