<div class="bg-white unit-package unit gutter pad-t-2 pad-b-2 unit-content-distribute s-1 l-1-3 push l-push-0 waypoint waypoint-{{include.waypoint-pos}} trip-{{include.waypoint-pos}}">
    <i class="icon i-64 center-block push">
      <img src="http://placehold.it/64x64" alt="">
    </i>
    <h3 class="mega push-1-2">{{include.h3}}</h3>
    <div class="color-brand bold peta push pad-b border-b">{{include.price}}</div>
    <ul class="list-group push-2 text-left milli content-fill">
      <li class="push-1-2">{{include.point-1}}</li>
      <li class="push-1-2">{{include.point-2}}</li>
      <li class="push-1-2">{{include.point-3}}</li>
      <li class="push-1-2">{{include.point-4}}</li>
      <li class="push-1-2">{{include.point-5}}</li>
      <li class="push-1-2">{{include.point-6}}</li>
      <li class="push-1-2">{{include.point-7}}</li>
    </ul>
    <a href="mailto:norwaybayfishing@gmail.com?Subject={{include.subject}}" class="btn content-shrink">Get started</a>
</div>
