<section class="bg-ul" id="trips">
  <div class="wrapper pad-t-4 pad-b-4 text-center">
    <div class="gutter">
      <h2 class="waypoint">Find your perfect&nbsp;trip.</h2>
      <p class="waypoint waypoint-2 max-length push-4">With our 3 packages we bring you the greatest fishing experiences for by far the lowest prices. If none of the packages suit you exactly, get in contact with us so we can accommodate to what you want.</p>
    </div>

    <div class="grid grid-stretch gutter-1-2 max-length l-wrapper">
      {% include package.html
        waypoint-pos="3"
        h3="Basic"
        h4="2 hours of fishing"
        price="$100"
        desc="Lorem"
      %}

        {% include package.html
        waypoint-pos="4"
        h3="Will"
        h4="Half day of fishing"
        price="$175"
        desc="Lorem"
      %}

        {% include package.html
        waypoint-pos="5"
        h3="Pro"
        h4="Full day of fishing"
        price="$250"
        desc="Lorem"
      %}
    </div>
  </div>
</section>
