<section class="bg-wave" id="trips">
  <div class="wrapper pad-t-4 pad-b-4 text-center">
    <h2 class="waypoint color-white">Find your perfect&nbsp;trip.</h2>
    <p class="waypoint waypoint-2 max-length push-4 color-white">Here are the 3 most common fishing trips we take people on. If you would prefer a more custom fishing trip, send us a message, or give us a call and that can surely be arranged. On all of our trips we fish, catch fish, release fish, and have fun.</p>

    <div class="grid grid-stretch max-length l-wrapper push-2">
      {% include package.html
        waypoint-pos="3"
        name="Kids Trip"
        desc="Get your kids out and learn how to fish like a pro."
        price="$40"
        point-1="Catch bass and pike"
        point-2="Catch a lot of fish"
        point-3="All tackle included"
        point-4="All safety equipment included"
      %}

        {% include package.html
        waypoint-pos="4"
        name="Standard Trip"
        desc="Have an action packed time catching fish."
        price="$50"
        point-1="Catch bass, pike, and/or walleye"
        point-2="Catch a lot of fish"
        point-3="All tackle included"
        point-4="All safety equipment included"
        %}

        {% include package.html
        waypoint-pos="5"
        name="Muskie Excursion"
        desc="Get the chance to encounter the fish of a lifetime."
        price="$60"
        point-1="Catch muskie and big pike"
        point-2="Minimum 2 hour trips"
        point-3="All tackle included"
        point-4="All safety equipment included"
      %}
    </div>

    <p class="waypoint waypoint-6 color-white max-length push-0">All prices above are for 1-2 fishers — but don't worry, you can bring more for just $40 a person.</p>
  </div>
</section>