<section class="bg-wave" id="trips">
  <div class="wrapper pad-t-4 pad-b-4 text-center">
    <h2 class="waypoint color-white">Find your perfect&nbsp;trip.</h2>
    <p class="waypoint waypoint-2 max-length push-4 color-white">With our 3 packages we bring you the greatest fishing experience for the lowest price. If you don’t see a package to suit you, please contact with us so we can accommodate to your fishing needs.</p>

    <div class="grid grid-stretch max-length l-wrapper">
      {% include package.html
        waypoint-pos="3"
        image="small"
        h3="Quarter Day"
        h4="2 hours"
        price="$95"
        point-1="All tackle supplied"
        point-2="Guaranteed fish"
        point-3="Guaranteed great time"
      %}

        {% include package.html
        waypoint-pos="4"
        image="medium"
        h3="Half Day"
        h4="4 hours"
        price="$190"
        point-1="All tackle supplied"
        point-2="Guaranteed fish"
        point-4="Guaranteed great time"
        %}

        {% include package.html
        waypoint-pos="5"
        image="large"
        h3="Full Day"
        h4="8 hours"
        price="$390"
        point-1="All tackle supplied"
        point-2="Guaranteed multiple fish"
        point-3="Guaranteed great time"
        point-5="1-2 hour lunch break"
        point-6="Free lunch (burgers or hotdogs)"
      %}
    </div>
  </div>
</section>
