<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="Norway Bay Fishing welcomes you to a fish-filled fishing trip on the Ottawa River.">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:title" content="Norway Bay Fishing">
  <meta property="og:description" content="Norway Bay Fishing welcomes you to a fish-filled fishing trip on the Ottawa River.">
  <meta property="og:url" content="https://norwaybayfishing.ca/">
  <meta property="og:image" content="https://norwaybayfishing.ca/images/open-graph.jpg">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Norway Bay Fishing">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <style>
    @import url("https://use.typekit.net/wiw6gxl.css");
  </style>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0277bd">
  <meta name="theme-color" content="#ffffff">
</head>
<body>

  {% include header.html %}

  <main role="main">
    {{content}}
  </main>

  {% include footer.html %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/jquery.waypoints.min.js"></script>
  <script src="{{site.baseurl}}/js/header.js"></script>
  <script src="{{site.baseurl}}/js/waypoints.js"></script>
</body>
</html>
